/* ------------------------------------------------------------------------- */
/* BEATZ N BITZ */
/* PROJET REALISE POUR BGE */
/* V1 2017 */
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* MEDIA QUERIES */
/* ------------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
    #launchpad {
        width: 100%;
    }

    #settings {
        width: 80%;
    }
}

@media screen and (max-width: 760px) {

    #mainHeader {
        display:none;

    }

    #mobileHeader {
        display:block;
    }

    #fullscreen {
        display: none;
    }

    /*    #library {
            display: none;
    
        }*/
    /*            #options {
                    display:none;
                }*/

    #share {
        display: none;
    }

    #fullscreen {
        display: none;
    }

    .libraryOpen {
        margin-top: 50px;
    }

    .optionsOpen {
        margin-top: 100px;
    }

        footer {
            display: none;
        }

    #cercle_logo img {
        width: 30%; 
    }

    #cercle {
        width: 45%

    }

    #settings {
        width: 80%;
    }
    .container_connexion {
        width: 90%;
    }

    .main_container {
        min-height: 95vh;
    }

    .launchpad {
        min-width: 50px;
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    #launchpad {
        width: 100%;
    }

    .middlepage {

        min-height: 95vh;
    }

    #user_controls {
        min-height: 40vh;

    }

    #launchpad {
        min-height: 31vh;
    }

    .container_connexion {
        margin-top: 10vh;
    }
}